body {
    background-color: #121212;
    font-size: 1.5rem;
}

li {
    line-height: 1.6 ;
}

li {
    margin-block: 1.5rem;
}

h1 {
    text-align: center;
}

h1, h3, p, a, li {
    opacity: 87%;
    color: white;
}

a:active {
    opacity: 50%;;
}
